.friendInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.avatar {
  width: 36px;
  height: 36px;
}

.status {
  font-size: 8px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
